.gaming-image {
  width: 100%;
}

.gaming-data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gaming-item {
  width: 100%;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
}

.gaming-item:hover {
  transform: scale(1.02);
}

@media screen and (min-width: 768px) {
  .gaming-image {
    width: 100%;
  }
  .gaming-item {
    width: 48%;
  }
}

@media screen and (min-width: 992px) {
  .gaming-item {
    width: 31%; /* 3 items per row on large devices */
  }
}
