.home-container {
  display: flex;
  padding: 10px;
  margin-top: 70px;
  width: 100%;
}

* {
  box-sizing: border-box; /* This will help control the sizing */
}

.home-bg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.loader-container {
  position: fixed; /* or absolute, depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: adds a semi-transparent background */
  /* Ensure it's on top of other elements */
}

.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px;
}
.cross-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-it-now-button {
  height: 50px;
  width: 120px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}
.api-data-container {
  background-color: #f1f1f1;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.search-container {
  border: none;
  height: 50px;
  border-radius: 8px;
  background: lavender;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px;
}

.search-container:hover {
  transform: scale(1.02);
}
.input-search {
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background: lavender;
  font-weight: bold;
}
.video_thumbnail {
  width: 95%;
  border-radius: 10px;
  flex-grow: 1;
}
.data {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.profile-logo {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.channel-details-container {
  display: flex;
  gap: 10px;
  width: 300px;
}
.title-heading {
  margin-top: 10px;
  font-size: 18px;
}
.channel-name {
  font-size: 16px;
  color: #475569;
  margin: 0;
}
.views-count {
  font-size: 16px;
}
.each-video-container {
  cursor: pointer;
}
.each-video-container:hover {
  transform: scale(1.02);
}
.published-container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #475569;
}

.search-button {
  background-color: transparent;
  border: none;
}
.data-container {
  width: 100%;
  height: calc(100vh - 70px); /* Full height minus header */
  padding-top: 60px;
}

.no-search-results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.no-videos {
  width: 100%;
}

.retry-button {
  width: 120px;
  height: 40px;
  border: none;
  background-color: orchid;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}

.nav-item-link {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .data-container {
    width: 80%;
    margin-left: 20%; /* Add margin to avoid overlap */
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 60px); /* Full height minus header */
  }
  .no-videos {
    width: 40%;
  }
  .search-container {
    width: 35%;
    padding: 10px;
  }

  .heading {
    font-size: 22px;
  }
  .video_thumbnail {
    width: 370px;
  }
}
